<%if flash[:error]%>
<h3 style="color:red;"><%=flash[:error]%></h3>
<%end%>

<h1>Login Page:</h1>

<form action="/login" method="POST">
<label for="email">Email:</label>
<input type="text" name="email" required><br>
<label for="password">Password:</label>
<input type="password" name="password" required><br>
<button type="submit" class="button-2">LOGIN</button>
<br>
<h3>OR</h3>
<button class="button-2"><a href="/signup">SIGN UP!</a></button>
</form>