
<h1>Add a new dog to your profile:</h1>
<%if flash[:incomplete]%>
<h3 style="color:red;"><%=flash[:incomplete]%></h3>
<%end%>
<form action="/dogs/new" method="post">
<label for="dog[name]">Dog's Name:</label>
<input type="text" name="dog[name]"><br>
<label for="dog[breed]">Breed:</label>
<input type="text" name="dog[breed]"><br>
<label for="dog[special_notes]">Special Notes:</label><br>
<textarea name="dog[special_notes]" rows="6" cols="80">  Please enter any special notes here...</textarea><br>
<button type="submit" class="button-2">SUBMIT</button>
</form>