
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button-2 {
    background-color: gray;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button-2 a{
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .button-3 {
    background-color:red;
    border: none;

    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

.button-3 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }


